/* ################# Global styles ################# */

/* ################# Global colors ################# */

:root {
    --green-underline: #198754;
    --default-title-color: #000;
    --ad-background-color: #f2f2f2;
    --site-background-color-beige: <?php 
        $background_color = get_field('site_background_color','option');
        echo esc_attr($background_color ? $background_color : '#ffffff'); 
    ?>;
}


.body{
background-color: var(--site-background-color);
}


[class*="button"] {
    font-size: 24px!important;
}

.scriptlesssocialsharing {
    box-sizing: border-box;
    margin: 0px!important;
    float: right!important;
    border: none!important;
}


h1, h2, h3, h4, h5, h6 {
font-family: Raleway, sans-serif;
font-weight: 500;
line-height: 1.2;
margin: 0 0 16px;
}


*.{
    font-family: Raleway, sans-serif;
}

.header {
background: #000;
width: 100%;
}

.page-wrap {
padding: 2rem 0;
}

.main.col-lg-8.col-sm-12 {
border-right: 1px solid #555;
}

.your-custom-class::before {
    font-family: 'Dashicons';
    content: '\f102';
}

/* ############# Block styles ############### */

/* ##### Quick buy now button ##### */

.quik-buy-now-button-custom-block {
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    margin: 5px;
}

.quik-buy-now-button-custom-block a {
    text-decoration: none;
    color: inherit;
}

/* Allow changing background color */
.quik-buy-now-button-custom-block[data-block-color="background-color"] {
    background-color: var(--block-background-color);
}

/* Allow changing text color */
.quik-buy-now-button-custom-block[data-block-color="text-color"] {
    color: var(--block-text-color);
}


/* ##### multi_buy_now_widget-mobile ##### */

@media only screen and (max-width: 480px) {
    .multi_buy_now_widget-custom-block-preview-mobile{
    display: block;
    }
}

@media only screen and (min-width: 480px) {
    .multi_buy_now_widget-custom-block-preview-desktop{
    display: block;
    width: 800px;
    }
}

@media (max-width: 768px) { /* Adjust max-width according to your needs */
    .btn {
        display: block;
        text-align: center;
    }
    .btn br {
        display: none; /* Hide <br> on larger screens */
    }
}




/* ################# top Nav style ################# */


@media only screen and (max-width: 480px) {
.navbar-nav > li:not(:last-child) {
    border-bottom: 1px solid #0000001a;
}
}

/* Hide submenu by default */
.navbar-nav .menu-item-has-children .sub-menu {
    display: none;
}

/* Show submenu when parent is hovered or clicked */
.navbar-nav .menu-item-has-children:hover > .sub-menu,
.navbar-nav .menu-item-has-children:focus > .sub-menu,
.navbar-nav .menu-item-has-children.clicked > .sub-menu {
    display: block;
}

/* Media queries */

@media only screen and (max-width: 480px) {
    .header-secondary a.navbar-brand.home-logo {
        display: block;
    }

    .navbar-toggler:hover {
        text-align: left;
    }

    ul#menu-right-menu {
        text-align: left; 
    }

    li#menu-right-menu {
        text-align: left; 
        border-bottom: 1px solid black;
    }
}

@media (max-width: 768px) {
    .navbar-brand .home-logo {
        text-align: left;
    }
}

ul.dropdown-menu.show {
    border: none;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    border-radius: unset;
    text-align: left;
}




/* ################# Header styles ################# */

.site-header .wrap {

padding: 30px 0;
padding-top: 22px;
}

.title-area {
float: left;
padding-top: 15px;
}

.site-title {
font-family: Raleway, sans-serif;
font-size: 40px;
font-weight: 900;
text-transform: uppercase;
background-color: white;
}

@media only screen and (max-width: 480px) {
    .site-title{
     margin: 0 auto;   
     text-align: center;
    }
}


a.site-title-link {
text-decoration: none;
color: #000;
}

@media only screen and (max-width: 480px) {
.title-area,
h1.site-title {
justify-content: center;
align-content: center;
display: flex;
text-transform: uppercase;
font-size: 32px;
font-weight: 900;
text-transform: uppercase;
}
}


/* ################# Ad slot styles ################# */


.ad-label{
text-align: center;
padding: 2px;
}

.ad-label-header{
text-align: center;
padding: 2px;
}

/* ################# Banners ################# */

@media screen and (max-width: 480px) {
    section.ad_header_top  {
        align-items: flex-start;
        justify-content: flex-start;
        height: 70px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
        display: flex;
    }
}

    section.ad_header_top  {
        height: 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        background-color:var(--ad-background-color);
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }
}


@media screen and (max-width: 480px) {
    section.ros_ad_header  {
        align-items: flex-start;
        justify-content: flex-start;
        height: 70px;
        width: 350px;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
        display: flex;
    }
}

    section.ros_ad_header  {
        height: 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
    }
}

@media screen and (max-width: 480px) {
    section.middle_ad_header  {
        align-items: flex-start;
        justify-content: flex-start;
        height: 70px;
        width: 350px;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
        display: flex;
    }
}

    section.middle_ad_header  {
        height: 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
    }
}

@media screen and (max-width: 480px) {
    section.bottom_ad_header  {
        align-items: flex-start;
        justify-content: flex-start;
        height: 70px;
        width: 350px;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
        display: flex;
    }
}

    section.bottom_ad_header  {
        height: 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 16px;
        background-color:var(--ad-background-color);
    }
}


/* ################# home page styles ################# */


/* ################# Top section #################*/

/* Hide desktop sidebar on mobile*/

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none!important;
    }
}



.top-section-sidebar-title{
    text-decoration: none;
    color: #000;
}

img.top-section-sidebar-thumb{
    height: 179px;
    width:100%;
    object-fit: cover;
    margin-bottom: 2px;
}

h2.single-post-featured-block-title {
    clear: both;
    font-size: 1rem;
    margin-top: 4px;
    text-transform: uppercase;
    color: #000;
    width: fit-content;
    border-bottom: 1px solid var(--green-underline);
    padding-bottom: 4px;
}

h2.post-featured-block-title {
    clear: both;
    font-size: 1rem;
    margin-top: 4px;
    text-transform: uppercase;
    width: fit-content;
    padding-bottom: 4px;
    background-color: black;
    color: white;
    padding: 5px;
}


.image-caption {
    font-style: italic;
    color: #333;
    padding: 8px;
    background-color: lightgray;
}

.featured-post-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    color: white;
    height: 130px;
  }

img.featured-post-image-fw{
        height: 560px;
        width: 100%;
        object-fit: cover;
}


@media only screen and (max-width: 480px) {
img.featured-post-image-fw{
    height: 380px;
    width:100%;
    object-fit: cover;
}
}


@media only screen and (max-width: 480px) {
.featured-post-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    color: white;
    height: 155px;
  }
}

/* ################# Featured block - slider ################# */

.featured-right-post:first-child {
    margin-bottom: 6px;
}
.carousel-control-prev,
.carousel-control-next {
    font-size: 2rem; 
    width: 60px; 
    height: 60px; 
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid white;
    margin-right: 8px;
    margin-left: 8px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.carousel-control-prev-icon {

    width: 30px; 
    height: 30px; 
}

.carousel-control-next-icon {

    width: 30px; 
    height: 30px; 
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(0, 0, 0); 
}


/* ################# Large right small block left ################# */

.featured-right{
    height: 570px;
    margin-right: 2px; 
  }
  
  @media screen and (max-width: 997px) {
    .featured-right{
      height: 300px;
    }
  }
  
  img.featured-right{
    object-fit: cover;
    width: 100%;
  }
  
  .featured-left{
    height: 284px;
    margin-bottom: 2px; 
  }
  
  @media screen and (max-width: 997px) {
    .featured-left{
      height: 300px;
      margin-bottom: 6px;
    }
  }
  
  img.featured-left{
    object-fit: cover;
    width: 100%;
  }

/* End home page styles */

/* ################# four-col-block ################# */

.four-col-block-thumb{
    height: 250px;
    margin-bottom: 2px; 
  }
  
  @media screen and (max-width: 997px) {
    .four-col-block-thumb{
      height: 300px;
    }
  }
  
  img.four-col-block-thumb{
    object-fit: cover;
    width: 100%;
  }

  a.four-col-block-title{
    text-decoration: none;
    color: #000;
}

p.four-col-block-title{
    text-decoration: none;
    color:grey;
}

section.four-block-title{
    height: 60px;
}

/* ################# End four-col-block< ################# */

/* ################# - Sidebar ################# */

h3.widget-title {
    background-color: black;
    padding: 10px;
    color: white;
}


.related-post {
    background-color: #19875414;
    padding: 4px;
    border-top: 1px solid #0000000f;
    border-left: 1px solid #0000000f;
    border-right: 1px solid #0000000f;
    height: 300px;
}

.related-post:last-child {
    border-bottom: 1px solid #0000000f;
}


.sidebar-ad-container-header-top {
width: 735px;
height: 110px;
background-color: #f2f2f242;
margin: 0 auto;
position: relative; 
}

.sidebar-ad-container-header-top .site-ad-header {
height: 90px;
width: 728px;
border: 1px solid black;
}

img.sidebar-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

section.sidebar-title{
    height: 65px;
}

a.sidebar-title{
    text-decoration: none;
    color: #000;
}

.readmore {
    height: 63px;
    
}

a.sidebar-readmore {
    display: block; /* Ensures the link behaves like a block element */
    width: 100%; /* Makes sure the link takes up the full width of its container */
    text-align: center;
    font-size: large;
    border-top: 1px solid #d3d3d361;
    padding: 20px;
    color: #198754;
    text-decoration: none;
}

/* ################# Middle MPU Sidebar #################*/

.sidebar-ad-container-middle {
width: 400px;
height: 610px;
background-color: #f2f2f242;
margin: 0 auto;
position: relative; 
}

.sidebar-ad-container-middle .sidebar-mpu-middle  {
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
height: 250px;
width: 300px;
}

.sidebar-ad-container-bottom {
    width: 400px;
    height: 610px;
    background-color: #f2f2f242;
    margin: 0 auto;
    position: relative; 
    
    
    .sidebar-ad-container-bottom .sidebar-mpu-bottom {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 250px;
    width: 300px;
    }

    .sidebar-mpu-bottom {
        margin: 0 auto;
        width: 300px;
    }

    .ad-container-in_content .mpu-in_content {

        height: 250px;
        width: 300px;
        }
    
        .mpu-in_content {
            margin: 0 auto;
            width: 300px;
        }
    




        

/* ################# Post styles #################*/

img {
height: auto;
}

.post-image {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

embed,
iframe,
img,
object,
video,
.wp-caption {
max-width: 100%;
}

img {
border-style: none;
}



p.post-title {
    text-align: center !important;
    padding: 10px !important;
    font-size: 24px; 
}

.meta-top {
margin-bottom: 30px;
font-size: 14px;
}


/* ################# Archive styles #################*/

@media only screen and (max-width: 480px) {
.row.archive {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
}

h4.archive-title {
    height:45px;
}

a.archive-title {
    color: black;
text-decoration: none;
}


a.archive-title:hover {
    color: #5182ad;
text-decoration: none;
}



img.archive-image-roll{
width: 100%;
height: 170px;
object-fit: cover;
}

@media only screen and (max-width: 480px) {
    img.archive-image {
    display: none;
    }
}

h3.archive-widget-title {
    clear: both;
    font-size: 1rem; 
    margin-bottom: 1rem; 
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 1rem; 
    }
    
    .row.archive-sidebar {
        margin-top: 15px;
        }
       



        
  

/* ################# Side bar styles #################*/



.sidebar-image-container{
    width: 300px;
}

a.read-more-sidebar-title {
    color: black;
text-decoration: none;
}


a.read-more-sidebar-title:hover {
    color: #5182ad;
text-decoration: none;
}

p.text-muted.sidebar-excerpt {
    height: 5rem;
}

.sidebar-meta {
    height: 165px;
}

h3.widget-title {
clear: both;
font-size: 1rem;
margin-bottom: 1rem; 
text-transform: uppercase;
background-color: black;
color: white;
padding: 1rem; 
}


.related-post-container{
height: 300px;
}

.row.related-sidebar {
margin-top: 15px;
}

img.sidebar-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
        
/* ################# Horizontal lines #################*/

section.horizontal-post-list-text-only-horizontal-line{
    border-bottom: 1px solid #88888821;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}


section.related-horizontal-line {
    border-bottom: 1px solid #88888821;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: block;
    }

section.archive-horizontal-line {
    border-bottom: 1px solid #88888821;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: block;
    }
                
section.archive-title-horizontal-line {
    border-bottom: 1px solid #88888821;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    }
    
.archive-meta {
    margin-top: 20px;
    }



/* #### Sow now block ####*/

.container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for responsiveness */
  }
  
  .indoors, .outdoors {
    flex-basis: calc(100% / 12 - 10px); /* Changed flex-basis for better responsiveness */
    height: 100px;
    background-color: #ccc; 
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .row .block:last-child {
    margin-right: 0;
  }
  
  .block_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .block_bottom .block {
    flex-basis: calc(100% / 12 - 10px);
    margin-bottom: 10px; 
  }
  
  /* Media query for stacking blocks on smaller screens */
  @media only screen and (max-width: 600px) {
    .indoors, .outdoors {
      flex-basis: calc(100% - 20px); /* Full width on smaller screens */
      margin-right: 0; /* Remove right margin to avoid wrapping */
    }
  }
  


/* ################# Footer #################*/



/* ###### Share #######*/

@media only screen and (max-width: 480px) {
    .
    _share_header {
        display: none;
    }
  }
  
